.DS_Store
real_data/data
real_data/results_csv
real_data/scratch
real_data/figures
sim_data/results_csv
sim_data/truth
sim_data/shigella_histogram.png
sim_data/combined_histograms.png
real_data/.Rhistory
sim_data/.Rhistory
